<form action="/lists/<%= params[:id] %>" method="post">
  <dl>
    <dt>
      <label for="list_name">Please enter the new for your list: </label>
    </dt>
    <dd>
      <%# Good practice is to update the value in the .erb file with what the user posted (regardless of validity) %>
      <input name="list_name" placeholder="List Name" type = "text" value="<%= @list[:name] || params[:list_name] %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists/<%= params[:id] %>">Cancel</a>
  </fieldset>
</form>
